<?xml version="1.0" encoding="utf-8"?>
<!--
  ~
  ~ Copyright 2017 Dennis Motta
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.desno365.mods"
    android:versionCode="19"
    android:versionName="2.4.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <receiver
            android:name=".Receivers.BootReceiver"
            android:enabled="true"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name ="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:process=":remote"
            android:name=".Receivers.AlarmReceiver"
            tools:ignore="InnerclassSeparator"/>

        <!-- Needed for Google ads -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            tools:ignore="InnerclassSeparator">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Activities.SettingsActivity"
            android:parentActivityName=".Activities.MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

        </activity>

        <activity android:name=".Activities.AboutActivity"
                  android:parentActivityName=".Activities.MainActivity"
                  tools:ignore="InnerclassSeparator,UnusedAttribute"/>

        <activity android:name=".Activities.LibrariesActivity"
            android:parentActivityName=".Activities.AboutActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"/>

        <activity android:name=".Activities.HelpActivity"
            android:parentActivityName=".Activities.MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"/>

        <activity android:name=".Activities.ZoomImageActivity"
            android:parentActivityName=".Activities.HelpActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"/>

        <activity android:name=".Activities.NewsActivity"
                  android:parentActivityName=".Activities.MainActivity"
                  tools:ignore="InnerclassSeparator,UnusedAttribute"/>

        <!-- This activity is used by the AdMob when banners are clicked or interstitials are presented -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b635bb814c02a7ea245da705da74acee75969098" />
    </application>

</manifest>
